<footer class="text-white " style="background-color: #0400ff" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">

            <div class="col-3 col-md">
                <hr>
                <img th:src="@{/img/logo.png}" class="mx-auto d-block" style="width: 150px">
                <hr>
                <small class="d-block mb-3" >© Сподели превоз</small>
            </div>
            <div class="col-3 col-md">
                <hr>
                <h5>За нас</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Сподели превоз е веб апликација која им овозможува на корисниците
                    заедно да патуваат до заедничка дестинација.
                </p>
            </div>

            <div class="col-3 col-md">
                <hr>
                <h5>Често користени страници</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a style="color: white;"  href="/createTrip">Креирај патување</a></li>
                    <li><a style="color: white;" href="/searchTrip">Пребарај патување</a></li>
                    <li><a style="color: white;" href="/help">Помош</a></li>
                </ul>
            </div>


            <div class="col-3 col-md">
                <hr>
                <h5>Контакт</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home me-2"></i> Сподели превоз</li>
                    <li><i class="fa fa-envelope me-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone me-2"></i> + 389 70 123 456</li>
                    <li><i class="fa fa-print me-2"></i> + 389 02 123 456</li>
                </ul>
            </div>


        </div>
    </div>
</footer>
