<header class="text-white-50 " xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <nav class="navbar navbar-expand-md navbar-light " style="background-color: #0400ff">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}"
                                                  height="50px">&nbsp;&nbsp<span class="text-white" style="font-size: 36px;">Сподели превоз</span></a>

            <div class="collapse navbar-collapse justify-content-end" id="firstRow">

                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item me-3" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light" style="color: #0400ff"   href="/profile">
                            <i class="fa fa-user"></i> Мој профил
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light" style="color: #0400ff"  href="/logout">
                            <i class="fas fa-sign-out-alt"></i> Одјави се
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light" style="color: #0400ff"  href="/login">
                            <i class="fas fa-sign-in-alt"></i> Најави се
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


</header>