<div class="container" >
    <div style="margin-top: 50px; margin-bottom: 100px;">
        <h1 class="text-center mb-5" style="color: #0400ff">За нас</h1>
        <span class="p-5">
            Сподели превоз е веб апликација која им овозможува на корисниците заедно да патуваат до заедничка дестинација.
            Главната причина за споделување на превоз е намалувањето на трошоците за патување.
            Причини плус за еден ваков систем се и зголемување на кругот на пријатели, попријатната атмосфера во споредба со јавниот превоз.
            Секако го земаме в предвид и еколошкиот аспект, помалку автомобили на патиштата -> помала емисија на CO2.
        </span>
        <h1 class="text-center mt-5 mb-5" style="color: #0400ff">Често поставувани прашања</h1>

        <div class="d-grid gap-2 col-12 mx-auto">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#eden" aria-expanded="false" aria-controls="collapseExample">
                Како да се регистрирам како возач?
            </button>
            <div class="collapse" id="eden">
                <div class="card card-body text-center">
                    За да може да креирате патувања потребно е да се регистрирате како возач. <br>
                    Процесот за регистрирање на возачи е во два чекори. <br>
                    Во првиот чекор внесувате информации за вашето возило. <br>
                    Истите мора да ги пополните со цел да продолжите на вториот чекор од процесот
                    на регистрација, а тоа е прикачување на фотографија од вашата возачка дозвола и сообраќајната дозвола на возилото.
                    <br>
                    Откако ќе биде проверена валидноста на информациите Вие би биле верифициран корисник
                    и би можеле да го користите системот во улога на возач.
                    <br>
                    <b>НАПОМЕНА!!!</b> <br>
                    <b>Системот ќе гарантира дека нема да има злоупотреба на кориснични внесените податоци.
                        Исто така возачот има комплетна одговорност за валидноста на внесените податоци.
                        Доколку истите се фалсификат случајот би бил проследен на соодветните правни органи.
                    </b>
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dva" aria-expanded="false" aria-controls="collapseExample">
                Како да креирам патување?
            </button>
            <div class="collapse" id="dva">
                <div class="card card-body text-center">
                    На почетната стрница имате копче Креирај патување. Копче со истата функционалност и име може да најдете и во делот „Мој профил“.<br>
                    При клик на копчето се отвара форма која ја пополнувате. Откако ќе завршите со пополнување на податоците, притиснете на
                    копчето „Креирај патување“. Со ова вие успешно сте креирале патување.
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tri" aria-expanded="false" aria-controls="collapseExample">
                Како да пребарам патување?
            </button>
            <div class="collapse" id="tri">
                <div class="card card-body text-center">
                    На почетната стрница имате поле во кое можете да внесете дестинација (адреса) од интерес и копче „Пребарај“.
                    Откако ќе го пополните полето со дестинацијата (адресата) и ќе притиснете на копчето ќе бидете пренасочени на
                    страница на која се прикажани резултатите од вашето пребарување.<br>
                    Во делот „Мој профил“ имате копче „Пребарај патување“. При клик на него се пренасочувате на страна на која може
                    да пребарувате патување на сличен начин како претходно опишаниот.
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#cetiri" aria-expanded="false" aria-controls="collapseExample">
                Како да испратам барање за превоз?
            </button>
            <div class="collapse" id="cetiri">
                <div class="card card-body text-center">
                    Откако ќе внесете дестинација (адреса) и ќе кликнете на копчето „Пребарај“ пред вас се отвара листа на патувања кои ја имаат
                    дестинацијата која ја внесовте. Вие може да одберете некое патување кое ви одговара и потоа да притиснете на копчето
                    „Испрати барање за превоз“, кое се наоѓа под секое патување. Возачот кој го креирал тоа патување, ќе го разгледа вашето барање.
                    Доколку ги прифати вашето барање за превоз, вас ќе ви стигне известување. Потоа возачот може да ги испрати локација на
                    која може да се сретнете.
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pet" aria-expanded="false" aria-controls="collapseExample">
                Како да одберам сопатници?
            </button>
            <div class="collapse" id="pet">
                <div class="card card-body text-center">
                    Откако ќе поставите некое патување, истото е достапно за корисниците на системот. Во секој момент тие може да ви испратат
                    барање за превоз. Вие може да го разгледате барањето и истото да го прифатите. Откако ќе го прифатите барањето, може
                    да започнете разговор со вашиот сопатник.
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#shest" aria-expanded="false" aria-controls="collapseExample">
                Како да започнам патување?
            </button>
            <div class="collapse" id="shest">
                <div class="card card-body text-center">
                    Во менито за навигација имате копче „Мој профил“ (горен десен агол). При клик на него ви се отвараат вашите информации. Ќе видите
                    копче именувана како „Мои патувања“. При клик на него ви се отвара страна на која се излистани вашите патувања.<br>
                    Ако патувањето е валидно, од десната страна треба да има копче „Започни патување“. Со клик на него го започнувате одбраното патување.
                </div>
            </div>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sedum" aria-expanded="false" aria-controls="collapseExample">
                Каде да ги видам моите патување?
            </button>
            <div class="collapse" id="sedum">
                <div class="card card-body text-center">
                    Во менито за навигација имате копче „Мој профил“ (горен десен агол). При клик на него ви се отвараат вашите информации. Ќе видите
                    копче именувана како „Мои патувања“. При клик на него ви се отвара страна на која се излистани вашите патувања.
                </div>
            </div>

        </div>

        <h1 class="text-center mt-5 mb-5" style="color: #0400ff">Контактирајте не</h1>
        <form class="row g-3" method="get" action="/">
            <div class="col-md-12">
                <label for="name" class="form-label">Име</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="name" name="name"  placeholder="Вашето име">
                </div>
            </div>
            <div class="col-md-12">
                <label for="email" class="form-label">Емаил</label>
                <div class="input-group ">
                    <input type="password" class="form-control" id="email" name="email"  placeholder="Вашата емаил адреса">
                </div>
            </div>
            <div class="col-md-12">
                <label for="subject" class="form-label">Наслов</label>
                <div class="input-group ">
                    <input type="password" class="form-control" id="subject" name="subject"  placeholder="Наслов на пораката">
                </div>
            </div>
            <div class="col-md-12">
                <label for="message" class="form-label">Порака</label>
                <div class="input-group">
                    <textarea type="password" class="form-control" id="message" name="message"  placeholder="Вашата порака">
                    </textarea>
                </div>
            </div>
            <button class="btn btn-block mt-4" style="background-color: red; color: white;font-size: 20px;" type="submit">Испрати</button>
        </form>
    </div>

</div>