<div xmlns:th="http://www.thymeleaf.org">
    <div class="container" style="padding-top: 80px;padding-bottom: 80px;">
        <div class="col-12" >
            <h1 class="mb-5" style="text-align: center; color: #0400ff">Мои патувања</h1>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-white text-center" style="background-color: #0400ff">
                        <th scope="col">Почетна дестинација</th>
                        <th scope="col">Крајна дестинација</th>
                        <th scope="col">Време на тргнување</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-middle text-center " >Методија Андонов Ченто бр.52</td>
                        <td class="align-middle text-center">Франклин Рузвелт 51</td>
                        <td class="align-middle text-center">05.07.2021 07:30</td>
                        <td>
                            <div class="d-grid gap-2 mx-auto">
                                <a class="btn btm-sm btn-block text-center text-white" style="background-color: #0400ff" href="/duringTrip">
                                    <i class="fas fa-map-marker-alt"></i> Започни патување
                                </a>

                                <a type="submit"
                                        class="btn btm-sm btn-block delete text-center text-white" style="background-color: #0400ff">
                                    <i class="fas fa-times"></i> Откажи патување
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Методија Андонов Ченто бр.52</td>
                        <td class="align-middle text-center">Франклин Рузвелт 51</td>
                        <td class="align-middle text-center">05.07.2021 07:30</td>
                        <td>
                            <div class="d-grid gap-2 mx-auto">
                                <a class="btn btm-sm btn-block text-center text-white" style="background-color: #0400ff"  href="/duringTrip">
                                    <i class="fas fa-map-marker-alt"></i> Започни патување
                                </a>

                                <a type="submit"
                                        class="btn btm-sm btn-block delete text-center text-white" style="background-color: #0400ff">
                                    <i class="fas fa-times"></i> Откажи патување
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Методија Андонов Ченто бр.52</td>
                        <td class="align-middle text-center">Франклин Рузвелт 51</td>
                        <td class="align-middle text-center">05.07.2021 07:30</td>
                        <td>
                            <div class="d-grid gap-2 mx-auto">
                                <a class="btn btm-sm btn-block text-center text-white" style="background-color: #0400ff"  href="/duringTrip">
                                    <i class="fas fa-map-marker-alt"></i> Започни патување
                                </a>

                                <a type="submit"
                                        class="btn btm-sm btn-block delete text-center text-white" style="background-color: #0400ff">
                                    <i class="fas fa-times"></i> Откажи патување
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>