<div class="container">
    <div style="max-width: 600px; margin-top: 50px; margin-bottom: 100px; margin-left: 350px;">
        <h2 class="mb-5" style="text-align: center; color: #0400ff">Лични информации</h2>
        <div class="mb-3">
            <label for="nameSurname" class="form-label">Име и презиме</label>
            <input type="email" class="form-control" id="nameSurname" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Емаил адреса</label>
            <input type="text" class="form-control" id="email" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-4">
            <label for="telephone" class="form-label">Телефонски број</label>
            <input type="email" class="form-control" id="telephone" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="d-grid gap-3 mx-auto">

            <a class="btn btn-block text-white d-flex justify-content-between" style="background-color: #0400ff" href="/editPersonalInfo">
                <div>Измени ги личните информации</div>
                <div><i class="fas fa-user-edit"></i></div>
            </a>
            <a class="btn btn-block text-white d-flex justify-content-between" style="background-color: #0400ff" href="/registerDriver">
                <div>Регистрирај се како возач</div>
                <div><i class="fas fa-plus"></i></div>
            </a>

        </div>

    </div>
</div>