<div class="container text-white" xmlns:th="http://www.thymeleaf.org">
    <div style="max-width: 600px; margin-top: 100px; margin-bottom: 100px; margin-left: 350px;">

        <div class="ps-3 pe-3" style="padding-bottom: 50px;" >
            <div class="text-center fs-3 fw-bold" style="color: #0400ff;">
                Вашето патување е успешно креирано. Корисниците може да го прегледуваат и да ви испраќаат барање за превоз.

            </div>

            <div class="text-center mt-3">
                <i class="fas fa-check-circle " style="color: red; font-size: 300px;"></i>
            </div>
        </div>

        <div class="d-grid">
            <a type="button" class="btn text-white" style="background-color: #0400ff;" href="/requestForTrip">Затвори</a>
        </div>
    </div>
</div>