

<div class="container" >
    <div style="margin-top: 50px;  margin-bottom: 100px;">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-5">
                <h2 class="mb-5" style="text-align: center; color: #0400ff">Резиме за патувањето</h2>

                <span class="row">
                    <div class="col text-center"><h3>Цена</h3></div>
                    <div class="col text-center"><h3>Километри</h3></div>
                </span>

                <span class="row mb-5">
                    <div class="col text-center"><h3>150</h3></div>
                    <div class="col text-center"><h3>12</h3></div>
                </span>

                <span class="row mb-5">
                    <div class="col justify-content-center text-center">
                        <img src="img/start-end.png" style="width: 100px;height: 100px;">
                    </div>
                    <div class="col text-center">
                        <h3 class="mb-3" style="color: #0400ff">Ченто</h3>
                        <h3 style="color: #0400ff">Карпош</h3>
                    </div>
                </span>

                <span class="row mb-3">
                    <span class="col text-center">
                        <img src="img/pari.png" style="width: 130px;height: 130px;">
                    </span>
                    <span class="col text-center">
                        <img src="img/ekologija.png" style="width: 130px;height: 130px;">
                    </span>
                </span>

                <span class="row text-center" id="leaveReview">
                    <span class="col-5 text-center fs-4" style="color: #0400ff">Ива Јовановска</span>
                    <span class="col-5 fs-4"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i>
                    <i class="far fa-star"></i> <i class="far fa-star"></i></span>
                    <span class="col-2">
                        <a class="btn text-white" style="background-color: #0400ff" id="review">Оцени</a>
                    </span>
                </span>
                <span class="row mt-3">
                    <a class="btn text-white" style="background-color: #0400ff" href="/myTrips">Затвори</a>
                </span>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function (){
        $('#review').click(function (e){
            e.stopPropagation();
            $('#leaveReview').hide();
        })
    })
</script>