<div class="container">
    <div style="max-width: 600px; margin-top: 50px; margin-bottom: 100px; margin-left: 350px;">
        <h2 class="mb-5" style="text-align: center; color: #0400ff">Информации за возило</h2>
        <div class="mb-3">
            <label for="nameSurname" class="form-label">Марка и модел на возилото</label>
            <input type="email" class="form-control" id="nameSurname" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Тип на возилото</label>
            <input type="text" class="form-control" id="email" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-4">
            <label for="telephone" class="form-label">Боја</label>
            <input type="email" class="form-control" id="telephone" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-4">
            <label for="registration" class="form-label">Регистарска ознака</label>
            <input type="email" class="form-control" id="registration" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="mb-4">
            <label for="seats" class="form-label">Максимален број на слободни седишта</label>
            <input type="email" class="form-control" id="seats" placeholder="name@example.com" disabled readonly>
        </div>

        <div class="d-grid mt-4">
            <a type="button" class="btn text-white" style="background-color: #0400ff;" href="/profile">Назад</a>
        </div>
    </div>
</div>